.header{
    background: #242424;
    color: #fff;
    padding:10px;
    margin-bottom: 15px;
}
.headerOpt{
    display: flex;
    align-items: center;
}
.headerOpt .logo{
    margin-left: 15px;
}
*{
    margin:0;
}
html{
    max-width: 450px;
    overflow: hidden;
}