.video-item{
    display: flex;
    width:100%;
    margin-bottom:10px;
}
.video-item__image{
    width:100px;
    height: 100px;
    background-size: cover !important;
}
.video-item__image div{
    width:100px;
    height: 100px;
    background-repeat: no-repeat !important;
    background-size: 40px !important;
    background-position: center center !important;
}
.video-item__text-content{
    padding-left: 15px;
}